.projects {
    padding: 3rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}

.projects > h1 {
    font-size: 55px;
    color: var(--text-color-grey);
    line-height: 1.2;
    letter-spacing: -2px;
    font-weight: 500;
    font-family: 'Alef', sans-serif;
}

.projects > h4 {
    font-size: 25px;
    color: var(--text-color-grey);
    line-height: 1.2;
    font-weight: 900;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.projects_container {
    padding: 3rem !important;
}


.projects > button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    padding: 1rem;
    border-radius: 10px;
    background-color: cadetblue;
    color: wheat;
}
.projects > button:hover {
    background-color: rgba(95, 158, 160, 0.801);
}