.projects {
    padding: 3rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}

.projects > h1 {
    font-size: 55px;
    color: var(--text-color-grey);
    line-height: 1.2;
    letter-spacing: -2px;
    font-weight: 500;
    font-family: 'Alef', sans-serif;
}

.projects > h4 {
    font-size: 25px;
    color: var(--text-color-grey);
    line-height: 1.2;
    font-weight: 900;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.projects_container {
    padding: 2rem !important;
    padding-top: 3rem !important;
}


.projects > button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--about-avatar);
    color: wheat;
}
.projects > button:hover {
    background-color: var(--about-avatar);
}


/* MEDIA QUERIES */


@media (min-width: 992px) and (max-width: 1380px) {

}
  
  
  
@media screen and (max-width: 992px) {
    .projects_container {
        padding: 0rem !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    .projects {
        padding: 2rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  
}
  
  