.education {
    margin: 3rem;
    height: 100vh;
    margin-bottom: 3rem;
}

.education > h2 {
    letter-spacing: -2px;
    font-weight: 500;
    font-family: 'Alef', sans-serif;
    font-size: 40px;
    color: var(--text-color-grey);
}

.education > h4 {
    font-size: 25px;
    color: var(--text-color-grey);
    line-height: 1.2;
    font-weight: 900;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.education_container {
    margin: 2rem;
    margin-top: 1rem;
}

.education_container > .MuiGrid-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.education_item {
    margin-top: 3rem !important;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.education_paper {
    padding: 1rem 4rem 1rem 4rem;
    width: 300px;
    background-color: var(--education-paper) !important;
}

.education_paper > h5 {
    color: var(--education-h5);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.30rem;
    font-family: 'Oxygen Mono';
}
.education_paper > h3 {
    color: var(--education-h4);
    font-size: 18px;
    margin-bottom: 1.60rem;
    font-family: 'Alef', sans-serif;
}
.education_paper > h4 {
    color: var(--education-h4);
    font-size: 18px;
    opacity: 0.8;
    font-family: 'Alef', sans-serif;
    font-weight: lighter;
}

@media (min-width: 1180px) and (max-width: 1380px) {
    .education {
        margin: 2rem;
    }
}



@media (min-width: 992px) and (max-width: 1180px) {
    .education {
        margin: 1rem;
    }
    .education_container {
        margin: 1rem;
    }
    .education_container > .MuiGrid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .pacman-container, .pacman, .path {
        display: none !important;
    }
}



@media screen and (max-width: 992px) {
    .education_container {
        margin: 2rem;
        margin-top: 1rem;
        display: flex;
    }

    .pacman-container, .pacman, .path {
      display: none !important;
  }

}

@media screen and (max-width: 800px) {
    .education {
        margin: 1rem;
        height: 100%;
    }
    .education_container {
        margin: 0rem;
        margin-top: 1rem;
    }

    .education_item {
        margin-top: 1.5rem !important;
        padding: 1rem;
    }

    .education_paper {
        padding: 1rem 2rem 1rem 2rem;
        width: 280px;
    }

}

@media screen and (max-width: 400px) {

    .education_paper {
        padding: 1rem 0.8rem 1rem 0.8rem;
        width: 260px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 
480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .education_item {
        margin-top: 1.5rem !important;
        padding: 1rem;
    }

    .education_paper {
        padding: 1rem 0.5rem 1rem 0.5rem;
        width: 250px;
    }
}











.pacman-container {
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40vh;
    width: 100%;
  }
  
  .pacman {
    position: relative;
    background: transparent;
    z-index: 1;
  }
  .pacman::before, .pacman::after {
    position: absolute;
    top: -35px;
    display: block;
    border-radius: 50%;
    content: "";
    height: 0px;
    width: 0px;
  }
  .pacman::before {
    animation: chunk-top 0.5s ease infinite;
    border: 35px solid var(--pacman-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  .pacman::after {
    animation: chunk-bottom 0.5s ease infinite;
    border: 35px solid var(--pacman-color);
    border-right-color: transparent;
    border-top-color: transparent;
  }
  
  .path8 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path8::before {
    background: var(--c8-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }
  

  .path1 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path1::before {
    background: var(--c1-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  .path2 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path2::before {
    background: var(--c2-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  .path3 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path3::before {
    background: var(--c3-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  .path4 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path4::before {
    background: var(--c4-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  .path5 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path5::before {
    background: var(--c5-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  .path6 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path6::before {
    background: var(--c6-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  .path7 {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
  }
  .path7::before {
    background: var(--c7-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  

  @keyframes chunk-top {
    0%, 100% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-80deg);
    }
  }
  @keyframes chunk-bottom {
    0%, 100% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @keyframes eating-path {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

