.about {
    padding: 3rem;
    padding-top: 6rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about_header {
    margin: 2rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    justify-content: flex-start; 
}

.about_header > h1 {
    font-size: 55px;
    color: var(--text-color-grey);
    line-height: 1.2;
    letter-spacing: -2px;
    font-weight: 500;
    font-family: 'Alef', sans-serif;
}

.about_header > h4 {
    font-size: 25px;
    color: var(--text-color-grey);
    line-height: 1.2;
    font-weight: 900;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.aboutBody {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem;
    margin-top: 0;
}

.about_Left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem;
    padding: 1rem;
    background-color: var(--main-bg-color);
    box-shadow: 0 12px 24px rgb(0 179 60 / 55%);
    border-radius: 20px;
}

.bodyTop, .bodyBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bodyTop > p {
    padding: 2rem;
    width: 400px;
    font-size: 18px;
    font-weight: 400;
    color: var(--about-text);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hey {
    margin-bottom: 1rem;
    line-height: 180%;
    opacity: 0.8;
}

.bodyBottom > p {
    padding: 2rem;
    font-size: 18px;
    font-weight: 400;
    color: var(--about-text);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutRight {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 2rem;
}

.about_img > h4 {
    position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
    transform: scale(0);
    z-index: 100;
}

.about_img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/dp.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 180px;
    width: 180px;
    border-radius: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 8px var(--about-avatar), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}

.about_img:before {
	content: '';
    display: table;
}

.ch-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
	background: var(--about-avatar);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.ch-info p {
	color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    letter-spacing: 2;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
	opacity: 0;
	transition: all 1s ease-in-out 0.1s;
}


.about_img:hover {
	box-shadow:  inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}
.about_img:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
.about_img:hover .ch-info p {
    opacity: 1;
}

.aboutRight > a > button {
    margin-top: 3rem;
    box-sizing: border-box;
    font-family: 'Alef', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--about-avatar);
    border-radius: 0.9em;
    color: var(--about-avatar);
    font-size: 1rem;
    font-weight: 400;
    outline: 0;
    line-height: 1;
    padding: 1em 2.2em;
    text-transform: uppercase;
    font-weight: 700;
    border-color: var(--about-avatar);
    white-space: nowrap !important;
    color: var(--about-avatar);
    background-image: linear-gradient(45deg, var(--about-avatar) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
}


.aboutRight > a > button:hover {
    background-position: 0;
    color: wheat;
  }

.line{
    position: relative;
    right: -7%;
    margin-bottom: 2.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent var(--main-bg-color);
}


@media (min-width: 1180px) and (max-width: 1380px) {
    .aboutBody {
        margin: 1rem;
    }
    .bodyTop > p {
        padding: 2rem;
        width: 300px;
        font-size: 16px;
    }
    .bodyBottom > p {
        padding: 2rem;
        font-size: 16px;
    }
    .line{
        position: relative;
        right: -9%;
    }
}



@media (min-width: 992px) and (max-width: 1180px) {
    .aboutBody {
        margin: 1rem;
    }
    .bodyTop > p {
        padding: 0.7rem;
        width: 250px;
        font-size: 16px;
    }
    .bodyBottom > p {
        padding: 0.7rem;
        font-size: 16px;
    }
    
    .line{
        position: relative;
        right: -11%;
    }
}



@media screen and (max-width: 992px) {
    .about {
        height: 100%;
        padding: 0.5rem;
    }

    .about_header {
        margin: 2rem;
        margin-left: 3rem; 
    }

    .about_header > h1 {
        font-size: 39px;
        line-height: 1.2;
        font-weight: 800;
    }
    
    .about_header > h4 {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
    }
    .aboutBody {
        margin: 0rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .aboutRight {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1rem;
        margin-left: 0rem;
        width: 100%;
    }

    .aboutRight > a > button {
        margin-top: 0rem;
        margin-left: 1rem;
    }
    .aboutRight > .about_img{
        height: 160px;
        width: 160px;
    }

    .line{
        display: none;
    }
    .about_Left {
        margin: 1rem;
        padding: 2rem;
        border-radius: 20px;
    }
    .bodyTop {
        display: flex;
        flex-direction: column;
    }
    .bodyTop > p {
        padding: 2rem;
        padding-top: 0;
        width: 100%;
        font-size: 16px;
    }
    .bodyBottom > p {
        padding: 0rem;
        font-size: 16px;
        width: 100%;
    }

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media only screen and (min-device-width: 320px) and (max-device-width: 
480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}