.about {
    padding: 3rem;
    padding-top: 6rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about_header {
    margin: 2rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    justify-content: flex-start; 
}

.about_header > h1 {
    font-size: 55px;
    line-height: 1.2;
    font-weight: 800;
}

.about_header > h4 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
}

.aboutBody {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem;
    margin-top: 0;
}

.about_Left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 20px;
}

.bodyTop, .bodyBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bodyTop > p {
    padding: 2rem;
    width: 400px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bodyBottom > p {
    padding: 2rem;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutRight {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 2rem;
}
.aboutRight > img {
    height: 180px;
    width: 180px;
}

.aboutRight > button {
    margin-top: 3rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 0.9em;
    color: green;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1em 2.2em;
    text-transform: uppercase;
    font-weight: 700;
    border-color: green;
    white-space: nowrap !important;
    color: green;
    background-image: linear-gradient(45deg, green 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
}

.aboutRight > button, .aboutRight > button {
    outline: 0;
}

.aboutRight > button:hover {
    background-position: 0;
    color: wheat;
  }

.line{
    position: relative;
    right: -7%;
    margin-bottom: 2.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent aquamarine;
}


@media (min-width: 1180px) and (max-width: 1380px) {
    .aboutBody {
        margin: 1rem;
    }
    .bodyTop > p {
        padding: 2rem;
        width: 300px;
        font-size: 16px;
    }
    .bodyBottom > p {
        padding: 2rem;
        font-size: 16px;
    }
    .line{
        position: relative;
        right: -9%;
    }
}



@media (min-width: 992px) and (max-width: 1180px) {
    .aboutBody {
        margin: 1rem;
    }
    .bodyTop > p {
        padding: 0.7rem;
        width: 250px;
        font-size: 16px;
    }
    .bodyBottom > p {
        padding: 0.7rem;
        font-size: 16px;
    }
    
    .line{
        position: relative;
        right: -11%;
    }
}



@media screen and (max-width: 992px) {
    .about {
        height: 100%;
        padding: 1rem;
    }

    .about_header {
        margin: 2rem;
        margin-left: 3rem; 
    }

    .about_header > h1 {
        font-size: 39px;
        line-height: 1.2;
        font-weight: 800;
    }
    
    .about_header > h4 {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
    }
    .aboutBody {
        margin: 1rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .aboutRight {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1rem;
        margin-left: 0rem;
        width: 100%;
    }

    .line{
        display: none;
    }
    .about_Left {
        margin: 1rem;
        padding: 2rem;
        background-color: aquamarine;
        border-radius: 20px;
    }
    .bodyTop {
        display: flex;
        flex-direction: column;
    }
    .bodyTop > p {
        padding: 2rem;
        padding-top: 0;
        width: 100%;
        font-size: 16px;
    }
    .bodyBottom > p {
        padding: 0rem;
        font-size: 16px;
        width: 100%;
    }

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media only screen and (min-device-width: 320px) and (max-device-width: 
480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}