.projectContainer {
    position: relative;
    display: flex;
    width: 300px;
    height: 280px;
    margin: 1rem !important;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--project-card);
    transition: 0.2s;
}

.projectContainer:hover {
    transform: translate(0, -7px);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.5);
}

/* #63FF77 */

.proj_image {
    opacity: 1;
    display: block;
    width: 220px;
    height: 220px;
    margin: auto;
    object-fit: contain;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.project_title {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 70%;
    font-family: 'Courgette', cursive;
    font-size: 1.25rem;
    text-shadow: 0px 1px var(--framework-color);
    color: var(--text-color-grey);
}

.project_framework {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 10%;
    font-weight: 600;
    color: var(--text-color-secondary);
    background-color: var(--framework-color);
    padding: 0.65rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Alef', sans-serif;
}

.proj_content {
    background-color: rgba(0, 182, 158, 0.7);
    display:inline-block;
}
.proj_content:hover:after {
    opacity: 1;
}
.proj_content > button {
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 10%;
    bottom: 10%;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    border: 2px solid var(--about-avatar);
    color: var(--about-avatar);
    border-color: var(--about-avatar);
    white-space: nowrap !important;
    border-radius: 20px;
}

.proj_content > button:hover {

}

.projectContainer:hover .proj_image {
    opacity: 0.2;
}

.projectContainer:hover .project_title {
    opacity: 1;
}
.projectContainer:hover .project_framework {
    opacity: 1;
}

.projectContainer:hover .proj_content > button {
    opacity: 1;
}

.MuiDialog-paper {
    background-color: #b3ffcc !important;
}

.MuiDialogContent-root {
    -ms-overflow-style: none !important;  
    scrollbar-width: none !important;  
}
.MuiDialogContent-root::-webkit-scrollbar {
    display: none;
}

.tech_header {
    padding: 1rem;
    padding-bottom: 0;
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


.techs {
    padding: 1rem;
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300 !important;
}

.dialog_img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    pointer-events: none;
}

.proj_buttons > a > button {
    text-decoration: none;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}