.navbar {
    padding: 1rem;
    margin: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background-color: var(--navbar-color);
    color: azure;
    border-radius: 999px;
    box-shadow: 11px 8px 41px -7px rgba(196,234,196,0.39);
    -webkit-box-shadow: 11px 8px 41px -7px rgba(196,234,196,0.39);
    -moz-box-shadow: 11px 8px 41px -7px rgba(196,234,196,0.39);
}

.navbar > h3 {
    color: var(--nav-item-color);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;    
}

.navbar_left {
    flex: 0.9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar_left > a > span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--nav-item-color);
    font-weight: 800;
    font-family: 'Oxygen Mono', monospace;
    text-decoration: none;
    text-transform: uppercase;
}

.drawer {
    position: relative;
}

.menuDrawerIcon {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none !important;
}

.theme-toggler {
    position: absolute !important;
    top: 14px !important;
    right: 20px !important;
}

.nav_icon {
    position: relative;
    top: 8px;
    font-size: 1.75rem;
    margin-right: 1.4rem;
}

.drawerListitem {
    color: var(--drawer-item-color) !important;
}

.navbar_right > button {
    border-radius: 50%;
}

/* MEDIA QUERIES */


@media (min-width: 992px) and (max-width: 1380px) {
    .navbar_left > a > span {
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        font-size: 0.8rem;
    }
}



@media screen and (max-width: 992px) {
    .navbar {
        display: none;
    }
    .menuDrawerIcon {
        position: fixed;
        top: 10px;
        left: 10px;
        display: block !important;
    }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

  }

@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

  }


















  #stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1487px 822px #00b33c, 702px 619px #00b33c, 579px 76px #00b33c,
		881px 14px #00b33c, 1903px 741px #00b33c, 1401px 1791px #00b33c, 1316px 857px #00b33c,
		1628px 1376px #00b33c, 1641px 781px #00b33c, 1421px 25px #00b33c, 525px 254px #00b33c,
		683px 1197px #00b33c, 1636px 1573px #00b33c, 1855px 1220px #00b33c, 108px 1424px #00b33c,
		906px 1967px #00b33c, 205px 1681px #00b33c, 1930px 731px #00b33c, 1957px 104px #00b33c,
		1558px 24px #00b33c, 211px 468px #00b33c, 2px 1001px #00b33c, 664px 1095px #00b33c,
		1023px 1573px #00b33c, 272px 122px #00b33c, 659px 1641px #00b33c, 1518px 1633px #00b33c,
		1736px 1016px #00b33c, 1085px 1911px #00b33c, 737px 1784px #00b33c, 564px 968px #00b33c,
		150px 1277px #00b33c, 1848px 505px #00b33c, 1067px 1414px #00b33c, 1619px 1498px #00b33c,
		266px 757px #00b33c, 450px 1052px #00b33c, 604px 1178px #00b33c, 1069px 1215px #00b33c,
		1045px 1816px #00b33c, 1682px 1111px #00b33c, 578px 1875px #00b33c, 1197px 20px #00b33c,
		736px 1923px #00b33c, 1698px 592px #00b33c, 491px 1835px #00b33c, 106px 1113px #00b33c,
		1944px 1749px #00b33c, 677px 525px #00b33c, 798px 1663px #00b33c, 463px 19px #00b33c,
		1982px 1091px #00b33c, 736px 1597px #00b33c, 244px 1625px #00b33c, 1699px 1257px #00b33c,
		624px 114px #00b33c, 1290px 48px #00b33c, 1007px 1111px #00b33c, 1411px 31px #00b33c,
		1661px 1065px #00b33c, 1583px 1593px #00b33c, 1165px 1985px #00b33c, 351px 222px #00b33c,
		158px 709px #00b33c, 1304px 194px #00b33c, 1192px 1923px #00b33c, 358px 1642px #00b33c,
		889px 1701px #00b33c, 424px 1427px #00b33c, 1928px 573px #00b33c, 1263px 1473px #00b33c,
		498px 33px #00b33c, 1043px 286px #00b33c, 843px 1917px #00b33c, 909px 813px #00b33c,
		1033px 291px #00b33c, 41px 749px #00b33c, 1807px 1719px #00b33c, 1984px 284px #00b33c,
		1983px 1696px #00b33c, 1409px 179px #00b33c, 1350px 929px #00b33c, 332px 1747px #00b33c,
		212px 1977px #00b33c, 1668px 1254px #00b33c, 1585px 1736px #00b33c, 783px 85px #00b33c,
		1961px 847px #00b33c, 1692px 996px #00b33c, 1829px 694px #00b33c, 965px 891px #00b33c,
		1793px 102px #00b33c, 1347px 235px #00b33c, 1566px 1954px #00b33c, 1406px 1765px #00b33c,
		1346px 1832px #00b33c, 452px 1205px #00b33c, 1667px 1688px #00b33c, 1337px 1664px #00b33c,
		1728px 832px #00b33c, 1568px 1213px #00b33c, 1980px 357px #00b33c, 1096px 624px #00b33c,
		210px 636px #00b33c, 1247px 1830px #00b33c, 1789px 1970px #00b33c, 582px 978px #00b33c,
		1473px 1002px #00b33c, 1042px 440px #00b33c, 1189px 879px #00b33c, 24px 931px #00b33c,
		1656px 1848px #00b33c, 401px 1676px #00b33c, 192px 1632px #00b33c, 970px 1936px #00b33c,
		231px 1849px #00b33c, 1860px 127px #00b33c, 469px 1487px #00b33c, 436px 1899px #00b33c,
		680px 1290px #00b33c, 809px 128px #00b33c, 163px 683px #00b33c, 1221px 1732px #00b33c,
		982px 801px #00b33c, 149px 455px #00b33c, 39px 1305px #00b33c, 248px 1059px #00b33c,
		1985px 1040px #00b33c, 823px 1174px #00b33c, 1823px 12px #00b33c, 1558px 1446px #00b33c,
		164px 348px #00b33c, 504px 311px #00b33c, 95px 1735px #00b33c, 1817px 560px #00b33c,
		1527px 1792px #00b33c, 296px 377px #00b33c, 1480px 353px #00b33c, 1419px 1148px #00b33c,
		734px 610px #00b33c, 1233px 1076px #00b33c, 1495px 198px #00b33c, 1722px 1821px #00b33c,
		57px 914px #00b33c, 81px 1967px #00b33c, 157px 1383px #00b33c, 478px 1545px #00b33c,
		96px 1485px #00b33c, 1248px 1516px #00b33c, 1989px 1475px #00b33c, 730px 61px #00b33c,
		646px 342px #00b33c, 656px 376px #00b33c, 809px 1394px #00b33c, 483px 1916px #00b33c,
		695px 1985px #00b33c, 954px 279px #00b33c, 1704px 234px #00b33c, 204px 1621px #00b33c,
		490px 414px #00b33c, 929px 1852px #00b33c, 383px 1017px #00b33c, 1319px 14px #00b33c,
		103px 1147px #00b33c, 1780px 62px #00b33c, 764px 318px #00b33c, 950px 1468px #00b33c,
		767px 8px #00b33c, 1038px 763px #00b33c, 62px 680px #00b33c, 1619px 817px #00b33c,
		1462px 1819px #00b33c, 1340px 1956px #00b33c, 1802px 902px #00b33c, 1739px 1865px #00b33c,
		886px 854px #00b33c, 1760px 1693px #00b33c, 1571px 1175px #00b33c, 1149px 1748px #00b33c,
		1521px 1213px #00b33c, 575px 162px #00b33c, 1904px 456px #00b33c, 1399px 416px #00b33c,
		1325px 1118px #00b33c, 1848px 478px #00b33c, 1447px 841px #00b33c, 457px 1619px #00b33c,
		1202px 1049px #00b33c, 397px 682px #00b33c, 465px 1042px #00b33c, 1264px 1033px #00b33c,
		1304px 1004px #00b33c, 649px 1586px #00b33c, 97px 1308px #00b33c, 21px 619px #00b33c,
		469px 1742px #00b33c, 81px 1745px #00b33c, 1735px 1208px #00b33c, 805px 1206px #00b33c,
		717px 492px #00b33c, 187px 1317px #00b33c, 860px 1290px #00b33c, 1964px 1712px #00b33c,
		1036px 142px #00b33c, 1238px 442px #00b33c, 1766px 423px #00b33c, 925px 353px #00b33c,
		569px 5px #00b33c, 1338px 383px #00b33c, 1321px 90px #00b33c, 1613px 749px #00b33c,
		409px 1835px #00b33c, 642px 715px #00b33c, 1402px 444px #00b33c, 1669px 197px #00b33c,
		291px 1022px #00b33c, 632px 1847px #00b33c, 678px 810px #00b33c, 570px 798px #00b33c,
		1521px 681px #00b33c, 309px 176px #00b33c, 1913px 882px #00b33c, 1129px 1601px #00b33c,
		1310px 1490px #00b33c, 883px 1925px #00b33c, 1354px 140px #00b33c, 1474px 628px #00b33c,
		1997px 230px #00b33c, 351px 1212px #00b33c, 576px 706px #00b33c, 1210px 1325px #00b33c,
		1927px 315px #00b33c, 1505px 1249px #00b33c, 699px 1811px #00b33c, 1428px 913px #00b33c,
		691px 1811px #00b33c, 977px 1645px #00b33c, 330px 260px #00b33c, 1632px 1148px #00b33c,
		878px 1070px #00b33c, 390px 1127px #00b33c, 1915px 1956px #00b33c, 805px 314px #00b33c,
		260px 623px #00b33c, 1471px 1629px #00b33c, 1333px 1800px #00b33c, 1158px 1712px #00b33c,
		813px 641px #00b33c, 608px 761px #00b33c, 529px 1163px #00b33c, 1916px 1476px #00b33c,
		308px 1823px #00b33c, 910px 894px #00b33c, 839px 431px #00b33c, 1638px 1599px #00b33c,
		128px 1590px #00b33c, 1157px 1788px #00b33c, 1035px 773px #00b33c, 389px 277px #00b33c,
		553px 1014px #00b33c, 1978px 668px #00b33c, 615px 1056px #00b33c, 944px 1726px #00b33c,
		974px 324px #00b33c, 1448px 349px #00b33c, 848px 405px #00b33c, 1757px 1457px #00b33c,
		468px 1754px #00b33c, 714px 414px #00b33c, 697px 592px #00b33c, 1434px 1246px #00b33c,
		258px 1687px #00b33c, 953px 1354px #00b33c, 922px 179px #00b33c, 1899px 662px #00b33c,
		1103px 448px #00b33c, 1205px 799px #00b33c, 1256px 1247px #00b33c, 1772px 194px #00b33c,
		1809px 1285px #00b33c, 518px 698px #00b33c, 1906px 332px #00b33c, 1182px 536px #00b33c,
		1758px 354px #00b33c, 131px 1042px #00b33c, 923px 1832px #00b33c, 1117px 1198px #00b33c,
		143px 1532px #00b33c, 1401px 395px #00b33c, 1359px 1550px #00b33c, 615px 206px #00b33c,
		694px 475px #00b33c, 530px 1675px #00b33c, 1413px 1544px #00b33c, 1330px 1429px #00b33c,
		1433px 1453px #00b33c, 1271px 846px #00b33c, 1369px 1790px #00b33c, 517px 1392px #00b33c,
		897px 1434px #00b33c, 1906px 1012px #00b33c, 1523px 1474px #00b33c, 666px 7px #00b33c,
		598px 1273px #00b33c, 1544px 541px #00b33c, 248px 268px #00b33c, 1992px 848px #00b33c,
		571px 870px #00b33c, 1228px 679px #00b33c, 1096px 187px #00b33c, 1553px 15px #00b33c,
		523px 779px #00b33c, 140px 231px #00b33c, 659px 577px #00b33c, 463px 727px #00b33c,
		986px 623px #00b33c, 1822px 1062px #00b33c, 596px 1460px #00b33c, 462px 115px #00b33c,
		1318px 516px #00b33c, 409px 729px #00b33c, 710px 976px #00b33c, 1163px 1539px #00b33c,
		1542px 1362px #00b33c, 394px 1840px #00b33c, 904px 1541px #00b33c, 1549px 538px #00b33c,
		1594px 1384px #00b33c, 1030px 1465px #00b33c, 599px 544px #00b33c, 1933px 241px #00b33c,
		1281px 287px #00b33c, 729px 1282px #00b33c, 819px 364px #00b33c, 797px 1590px #00b33c,
		1023px 1973px #00b33c, 1708px 961px #00b33c, 293px 1953px #00b33c, 1685px 1879px #00b33c,
		1285px 1995px #00b33c, 1380px 219px #00b33c, 1715px 1980px #00b33c, 218px 108px #00b33c,
		700px 711px #00b33c, 471px 1764px #00b33c, 10px 1084px #00b33c, 1841px 1778px #00b33c,
		1765px 1548px #00b33c, 712px 1703px #00b33c, 1866px 1805px #00b33c, 1896px 760px #00b33c,
		1391px 40px #00b33c, 761px 1516px #00b33c, 1329px 584px #00b33c, 385px 1141px #00b33c,
		1238px 21px #00b33c, 1070px 486px #00b33c, 1096px 312px #00b33c, 1254px 1674px #00b33c,
		549px 1349px #00b33c, 1618px 986px #00b33c, 707px 1741px #00b33c, 1718px 1514px #00b33c,
		481px 597px #00b33c, 1690px 1472px #00b33c, 1728px 919px #00b33c, 173px 1196px #00b33c,
		1778px 1257px #00b33c, 1207px 649px #00b33c, 447px 634px #00b33c, 1306px 1444px #00b33c,
		936px 1818px #00b33c, 855px 1015px #00b33c, 1421px 332px #00b33c, 1138px 1889px #00b33c,
		1974px 694px #00b33c, 715px 308px #00b33c, 757px 155px #00b33c, 18px 107px #00b33c,
		561px 378px #00b33c, 144px 798px #00b33c, 1184px 967px #00b33c, 1263px 1130px #00b33c,
		1382px 895px #00b33c, 149px 175px #00b33c, 1297px 839px #00b33c, 943px 454px #00b33c,
		178px 1165px #00b33c, 477px 407px #00b33c, 416px 219px #00b33c, 1056px 1491px #00b33c,
		625px 816px #00b33c, 100px 1537px #00b33c, 1074px 520px #00b33c, 1031px 1453px #00b33c,
		1377px 614px #00b33c, 572px 1314px #00b33c, 1513px 1235px #00b33c, 1920px 1211px #00b33c,
		330px 107px #00b33c, 1260px 772px #00b33c, 1198px 84px #00b33c, 1409px 139px #00b33c,
		758px 98px #00b33c, 698px 1771px #00b33c, 273px 275px #00b33c, 163px 200px #00b33c,
		1665px 732px #00b33c, 95px 600px #00b33c, 522px 122px #00b33c, 76px 804px #00b33c,
		1669px 1526px #00b33c, 1881px 465px #00b33c, 1043px 1919px #00b33c, 1521px 827px #00b33c,
		1197px 1997px #00b33c, 489px 593px #00b33c, 1899px 722px #00b33c, 1575px 332px #00b33c,
		327px 718px #00b33c, 1959px 1378px #00b33c, 455px 1333px #00b33c, 729px 822px #00b33c,
		748px 126px #00b33c, 444px 445px #00b33c, 1856px 262px #00b33c, 1140px 921px #00b33c,
		1680px 1227px #00b33c, 1144px 1742px #00b33c, 1922px 384px #00b33c, 1015px 496px #00b33c,
		1213px 831px #00b33c, 1793px 898px #00b33c, 35px 159px #00b33c, 571px 1505px #00b33c,
		726px 42px #00b33c, 1216px 1214px #00b33c, 938px 50px #00b33c, 322px 1017px #00b33c,
		1222px 523px #00b33c, 660px 1174px #00b33c, 355px 859px #00b33c, 1381px 1648px #00b33c,
		8px 1546px #00b33c, 1768px 17px #00b33c, 301px 1159px #00b33c, 1550px 185px #00b33c,
		1289px 656px #00b33c, 1187px 106px #00b33c, 669px 1498px #00b33c, 555px 323px #00b33c,
		454px 288px #00b33c, 72px 271px #00b33c, 445px 1713px #00b33c, 136px 10px #00b33c,
		1810px 1149px #00b33c, 1445px 794px #00b33c, 406px 1822px #00b33c, 1994px 741px #00b33c,
		1837px 1564px #00b33c, 1264px 80px #00b33c, 273px 845px #00b33c, 322px 1693px #00b33c,
		103px 463px #00b33c, 689px 1161px #00b33c, 353px 717px #00b33c, 1275px 1895px #00b33c,
		1331px 130px #00b33c, 1251px 1424px #00b33c, 1003px 1183px #00b33c, 721px 904px #00b33c,
		1261px 416px #00b33c, 600px 577px #00b33c, 384px 910px #00b33c, 1248px 1547px #00b33c,
		955px 734px #00b33c, 686px 891px #00b33c, 196px 1523px #00b33c, 831px 327px #00b33c,
		845px 1486px #00b33c, 1553px 1438px #00b33c, 1133px 1152px #00b33c, 356px 1087px #00b33c,
		1503px 807px #00b33c, 1098px 1396px #00b33c, 94px 1934px #00b33c, 1195px 58px #00b33c,
		748px 771px #00b33c, 940px 570px #00b33c, 574px 651px #00b33c, 835px 533px #00b33c,
		42px 1210px #00b33c, 496px 1791px #00b33c, 1610px 296px #00b33c, 1446px 1574px #00b33c,
		261px 1765px #00b33c, 818px 368px #00b33c, 573px 743px #00b33c, 545px 333px #00b33c,
		1500px 1567px #00b33c, 1789px 448px #00b33c, 1139px 1559px #00b33c, 1607px 1127px #00b33c,
		1980px 874px #00b33c, 731px 1559px #00b33c, 898px 158px #00b33c, 1641px 1053px #00b33c,
		53px 377px #00b33c, 1879px 1370px #00b33c, 1377px 899px #00b33c, 1416px 829px #00b33c,
		863px 1545px #00b33c, 1219px 1935px #00b33c, 1638px 320px #00b33c, 239px 1807px #00b33c,
		851px 464px #00b33c, 1868px 1843px #00b33c, 679px 203px #00b33c, 1762px 842px #00b33c,
		59px 1986px #00b33c, 1142px 1911px #00b33c, 838px 1030px #00b33c, 1370px 1269px #00b33c,
		781px 274px #00b33c, 1193px 551px #00b33c, 638px 478px #00b33c, 456px 1854px #00b33c,
		424px 690px #00b33c, 13px 600px #00b33c, 306px 1867px #00b33c, 384px 1298px #00b33c,
		762px 342px #00b33c, 1780px 1196px #00b33c, 108px 1138px #00b33c, 1671px 866px #00b33c,
		831px 1515px #00b33c, 218px 1455px #00b33c, 1315px 1494px #00b33c, 1365px 1181px #00b33c,
		168px 986px #00b33c, 349px 506px #00b33c, 974px 1437px #00b33c, 1605px 908px #00b33c,
		1036px 1208px #00b33c, 1082px 1407px #00b33c, 916px 827px #00b33c, 1526px 566px #00b33c,
		1159px 1877px #00b33c, 210px 1180px #00b33c, 979px 1815px #00b33c, 130px 1358px #00b33c,
		1961px 1963px #00b33c, 771px 591px #00b33c, 1905px 487px #00b33c, 1816px 1565px #00b33c,
		333px 1600px #00b33c, 1842px 1774px #00b33c, 1573px 135px #00b33c, 1385px 1889px #00b33c,
		1611px 1033px #00b33c, 367px 1236px #00b33c, 779px 1022px #00b33c, 1851px 62px #00b33c,
		478px 257px #00b33c, 1907px 1960px #00b33c, 1435px 532px #00b33c, 662px 8px #00b33c,
		1027px 1924px #00b33c, 489px 101px #00b33c, 76px 1875px #00b33c, 657px 1682px #00b33c,
		1993px 1955px #00b33c, 1432px 1845px #00b33c, 1530px 1729px #00b33c, 1211px 896px #00b33c,
		1525px 133px #00b33c, 1445px 803px #00b33c, 530px 62px #00b33c, 242px 1513px #00b33c,
		256px 933px #00b33c, 1701px 936px #00b33c, 756px 1893px #00b33c, 1251px 1298px #00b33c,
		380px 1399px #00b33c, 1455px 302px #00b33c, 1729px 1171px #00b33c, 585px 49px #00b33c,
		1961px 1124px #00b33c, 1241px 552px #00b33c, 1205px 40px #00b33c, 1938px 1247px #00b33c,
		1469px 89px #00b33c, 239px 1939px #00b33c, 698px 448px #00b33c, 1795px 346px #00b33c,
		151px 487px #00b33c, 102px 126px #00b33c, 1184px 418px #00b33c, 1625px 1418px #00b33c,
		29px 554px #00b33c, 1288px 1274px #00b33c, 791px 1308px #00b33c, 151px 934px #00b33c,
		1574px 386px #00b33c, 1214px 1703px #00b33c, 1569px 1424px #00b33c, 951px 1830px #00b33c,
		1728px 805px #00b33c, 312px 1987px #00b33c, 1468px 529px #00b33c, 1153px 1146px #00b33c,
		1262px 1021px #00b33c, 1648px 1766px #00b33c, 306px 70px #00b33c, 754px 1165px #00b33c,
		1930px 482px #00b33c, 1814px 1593px #00b33c, 1066px 822px #00b33c, 1250px 877px #00b33c,
		465px 1885px #00b33c, 1649px 1281px #00b33c, 1682px 1601px #00b33c, 1367px 1233px #00b33c,
		91px 1327px #00b33c, 1485px 1355px #00b33c, 501px 1673px #00b33c, 1649px 1259px #00b33c,
		1986px 948px #00b33c, 1266px 1829px #00b33c, 135px 1503px #00b33c, 647px 296px #00b33c,
		155px 341px #00b33c, 649px 1896px #00b33c, 1617px 334px #00b33c, 223px 1507px #00b33c,
		584px 146px #00b33c, 200px 316px #00b33c, 575px 1831px #00b33c, 1374px 1809px #00b33c,
		1445px 386px #00b33c, 475px 1249px #00b33c, 1954px 89px #00b33c, 1756px 1192px #00b33c,
		8px 671px #00b33c, 1366px 1694px #00b33c, 1831px 306px #00b33c, 925px 113px #00b33c,
		160px 1174px #00b33c, 534px 1908px #00b33c, 553px 273px #00b33c, 423px 45px #00b33c,
		1305px 1098px #00b33c, 187px 90px #00b33c, 1993px 1396px #00b33c, 842px 1270px #00b33c,
		1137px 554px #00b33c, 351px 558px #00b33c, 1576px 1070px #00b33c, 437px 312px #00b33c,
		286px 1019px #00b33c, 257px 272px #00b33c, 1242px 1957px #00b33c, 1963px 1693px #00b33c,
		772px 447px #00b33c, 1641px 508px #00b33c, 712px 100px #00b33c, 1307px 1015px #00b33c,
		742px 327px #00b33c, 281px 1814px #00b33c, 1398px 1051px #00b33c, 167px 9px #00b33c,
		328px 1489px #00b33c, 1814px 1804px #00b33c, 946px 25px #00b33c, 549px 1705px #00b33c,
		217px 1477px #00b33c, 1937px 280px #00b33c, 182px 241px #00b33c, 711px 1365px #00b33c,
		1898px 1043px #00b33c, 1807px 346px #00b33c, 1787px 1253px #00b33c, 247px 66px #00b33c,
		1171px 1592px #00b33c, 846px 895px #00b33c, 1507px 720px #00b33c, 787px 574px #00b33c,
		1593px 1267px #00b33c, 843px 1902px #00b33c, 15px 1454px #00b33c, 539px 1420px #00b33c,
		1856px 974px #00b33c, 340px 663px #00b33c, 1579px 1091px #00b33c, 809px 111px #00b33c,
		32px 1128px #00b33c, 69px 1852px #00b33c, 878px 300px #00b33c, 730px 726px #00b33c,
		1137px 68px #00b33c;
	animation: animStar 50s linear infinite; }
	#stars:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: 1487px 822px #00b33c, 702px 619px #00b33c, 579px 76px #00b33c,
			881px 14px #00b33c, 1903px 741px #00b33c, 1401px 1791px #00b33c, 1316px 857px #00b33c,
			1628px 1376px #00b33c, 1641px 781px #00b33c, 1421px 25px #00b33c, 525px 254px #00b33c,
			683px 1197px #00b33c, 1636px 1573px #00b33c, 1855px 1220px #00b33c, 108px 1424px #00b33c,
			906px 1967px #00b33c, 205px 1681px #00b33c, 1930px 731px #00b33c, 1957px 104px #00b33c,
			1558px 24px #00b33c, 211px 468px #00b33c, 2px 1001px #00b33c, 664px 1095px #00b33c,
			1023px 1573px #00b33c, 272px 122px #00b33c, 659px 1641px #00b33c, 1518px 1633px #00b33c,
			1736px 1016px #00b33c, 1085px 1911px #00b33c, 737px 1784px #00b33c, 564px 968px #00b33c,
			150px 1277px #00b33c, 1848px 505px #00b33c, 1067px 1414px #00b33c, 1619px 1498px #00b33c,
			266px 757px #00b33c, 450px 1052px #00b33c, 604px 1178px #00b33c, 1069px 1215px #00b33c,
			1045px 1816px #00b33c, 1682px 1111px #00b33c, 578px 1875px #00b33c, 1197px 20px #00b33c,
			736px 1923px #00b33c, 1698px 592px #00b33c, 491px 1835px #00b33c, 106px 1113px #00b33c,
			1944px 1749px #00b33c, 677px 525px #00b33c, 798px 1663px #00b33c, 463px 19px #00b33c,
			1982px 1091px #00b33c, 736px 1597px #00b33c, 244px 1625px #00b33c, 1699px 1257px #00b33c,
			624px 114px #00b33c, 1290px 48px #00b33c, 1007px 1111px #00b33c, 1411px 31px #00b33c,
			1661px 1065px #00b33c, 1583px 1593px #00b33c, 1165px 1985px #00b33c, 351px 222px #00b33c,
			158px 709px #00b33c, 1304px 194px #00b33c, 1192px 1923px #00b33c, 358px 1642px #00b33c,
			889px 1701px #00b33c, 424px 1427px #00b33c, 1928px 573px #00b33c, 1263px 1473px #00b33c,
			498px 33px #00b33c, 1043px 286px #00b33c, 843px 1917px #00b33c, 909px 813px #00b33c,
			1033px 291px #00b33c, 41px 749px #00b33c, 1807px 1719px #00b33c, 1984px 284px #00b33c,
			1983px 1696px #00b33c, 1409px 179px #00b33c, 1350px 929px #00b33c, 332px 1747px #00b33c,
			212px 1977px #00b33c, 1668px 1254px #00b33c, 1585px 1736px #00b33c, 783px 85px #00b33c,
			1961px 847px #00b33c, 1692px 996px #00b33c, 1829px 694px #00b33c, 965px 891px #00b33c,
			1793px 102px #00b33c, 1347px 235px #00b33c, 1566px 1954px #00b33c, 1406px 1765px #00b33c,
			1346px 1832px #00b33c, 452px 1205px #00b33c, 1667px 1688px #00b33c, 1337px 1664px #00b33c,
			1728px 832px #00b33c, 1568px 1213px #00b33c, 1980px 357px #00b33c, 1096px 624px #00b33c,
			210px 636px #00b33c, 1247px 1830px #00b33c, 1789px 1970px #00b33c, 582px 978px #00b33c,
			1473px 1002px #00b33c, 1042px 440px #00b33c, 1189px 879px #00b33c, 24px 931px #00b33c,
			1656px 1848px #00b33c, 401px 1676px #00b33c, 192px 1632px #00b33c, 970px 1936px #00b33c,
			231px 1849px #00b33c, 1860px 127px #00b33c, 469px 1487px #00b33c, 436px 1899px #00b33c,
			680px 1290px #00b33c, 809px 128px #00b33c, 163px 683px #00b33c, 1221px 1732px #00b33c,
			982px 801px #00b33c, 149px 455px #00b33c, 39px 1305px #00b33c, 248px 1059px #00b33c,
			1985px 1040px #00b33c, 823px 1174px #00b33c, 1823px 12px #00b33c, 1558px 1446px #00b33c,
			164px 348px #00b33c, 504px 311px #00b33c, 95px 1735px #00b33c, 1817px 560px #00b33c,
			1527px 1792px #00b33c, 296px 377px #00b33c, 1480px 353px #00b33c, 1419px 1148px #00b33c,
			734px 610px #00b33c, 1233px 1076px #00b33c, 1495px 198px #00b33c, 1722px 1821px #00b33c,
			57px 914px #00b33c, 81px 1967px #00b33c, 157px 1383px #00b33c, 478px 1545px #00b33c,
			96px 1485px #00b33c, 1248px 1516px #00b33c, 1989px 1475px #00b33c, 730px 61px #00b33c,
			646px 342px #00b33c, 656px 376px #00b33c, 809px 1394px #00b33c, 483px 1916px #00b33c,
			695px 1985px #00b33c, 954px 279px #00b33c, 1704px 234px #00b33c, 204px 1621px #00b33c,
			490px 414px #00b33c, 929px 1852px #00b33c, 383px 1017px #00b33c, 1319px 14px #00b33c,
			103px 1147px #00b33c, 1780px 62px #00b33c, 764px 318px #00b33c, 950px 1468px #00b33c,
			767px 8px #00b33c, 1038px 763px #00b33c, 62px 680px #00b33c, 1619px 817px #00b33c,
			1462px 1819px #00b33c, 1340px 1956px #00b33c, 1802px 902px #00b33c, 1739px 1865px #00b33c,
			886px 854px #00b33c, 1760px 1693px #00b33c, 1571px 1175px #00b33c, 1149px 1748px #00b33c,
			1521px 1213px #00b33c, 575px 162px #00b33c, 1904px 456px #00b33c, 1399px 416px #00b33c,
			1325px 1118px #00b33c, 1848px 478px #00b33c, 1447px 841px #00b33c, 457px 1619px #00b33c,
			1202px 1049px #00b33c, 397px 682px #00b33c, 465px 1042px #00b33c, 1264px 1033px #00b33c,
			1304px 1004px #00b33c, 649px 1586px #00b33c, 97px 1308px #00b33c, 21px 619px #00b33c,
			469px 1742px #00b33c, 81px 1745px #00b33c, 1735px 1208px #00b33c, 805px 1206px #00b33c,
			717px 492px #00b33c, 187px 1317px #00b33c, 860px 1290px #00b33c, 1964px 1712px #00b33c,
			1036px 142px #00b33c, 1238px 442px #00b33c, 1766px 423px #00b33c, 925px 353px #00b33c,
			569px 5px #00b33c, 1338px 383px #00b33c, 1321px 90px #00b33c, 1613px 749px #00b33c,
			409px 1835px #00b33c, 642px 715px #00b33c, 1402px 444px #00b33c, 1669px 197px #00b33c,
			291px 1022px #00b33c, 632px 1847px #00b33c, 678px 810px #00b33c, 570px 798px #00b33c,
			1521px 681px #00b33c, 309px 176px #00b33c, 1913px 882px #00b33c, 1129px 1601px #00b33c,
			1310px 1490px #00b33c, 883px 1925px #00b33c, 1354px 140px #00b33c, 1474px 628px #00b33c,
			1997px 230px #00b33c, 351px 1212px #00b33c, 576px 706px #00b33c, 1210px 1325px #00b33c,
			1927px 315px #00b33c, 1505px 1249px #00b33c, 699px 1811px #00b33c, 1428px 913px #00b33c,
			691px 1811px #00b33c, 977px 1645px #00b33c, 330px 260px #00b33c, 1632px 1148px #00b33c,
			878px 1070px #00b33c, 390px 1127px #00b33c, 1915px 1956px #00b33c, 805px 314px #00b33c,
			260px 623px #00b33c, 1471px 1629px #00b33c, 1333px 1800px #00b33c, 1158px 1712px #00b33c,
			813px 641px #00b33c, 608px 761px #00b33c, 529px 1163px #00b33c, 1916px 1476px #00b33c,
			308px 1823px #00b33c, 910px 894px #00b33c, 839px 431px #00b33c, 1638px 1599px #00b33c,
			128px 1590px #00b33c, 1157px 1788px #00b33c, 1035px 773px #00b33c, 389px 277px #00b33c,
			553px 1014px #00b33c, 1978px 668px #00b33c, 615px 1056px #00b33c, 944px 1726px #00b33c,
			974px 324px #00b33c, 1448px 349px #00b33c, 848px 405px #00b33c, 1757px 1457px #00b33c,
			468px 1754px #00b33c, 714px 414px #00b33c, 697px 592px #00b33c, 1434px 1246px #00b33c,
			258px 1687px #00b33c, 953px 1354px #00b33c, 922px 179px #00b33c, 1899px 662px #00b33c,
			1103px 448px #00b33c, 1205px 799px #00b33c, 1256px 1247px #00b33c, 1772px 194px #00b33c,
			1809px 1285px #00b33c, 518px 698px #00b33c, 1906px 332px #00b33c, 1182px 536px #00b33c,
			1758px 354px #00b33c, 131px 1042px #00b33c, 923px 1832px #00b33c, 1117px 1198px #00b33c,
			143px 1532px #00b33c, 1401px 395px #00b33c, 1359px 1550px #00b33c, 615px 206px #00b33c,
			694px 475px #00b33c, 530px 1675px #00b33c, 1413px 1544px #00b33c, 1330px 1429px #00b33c,
			1433px 1453px #00b33c, 1271px 846px #00b33c, 1369px 1790px #00b33c, 517px 1392px #00b33c,
			897px 1434px #00b33c, 1906px 1012px #00b33c, 1523px 1474px #00b33c, 666px 7px #00b33c,
			598px 1273px #00b33c, 1544px 541px #00b33c, 248px 268px #00b33c, 1992px 848px #00b33c,
			571px 870px #00b33c, 1228px 679px #00b33c, 1096px 187px #00b33c, 1553px 15px #00b33c,
			523px 779px #00b33c, 140px 231px #00b33c, 659px 577px #00b33c, 463px 727px #00b33c,
			986px 623px #00b33c, 1822px 1062px #00b33c, 596px 1460px #00b33c, 462px 115px #00b33c,
			1318px 516px #00b33c, 409px 729px #00b33c, 710px 976px #00b33c, 1163px 1539px #00b33c,
			1542px 1362px #00b33c, 394px 1840px #00b33c, 904px 1541px #00b33c, 1549px 538px #00b33c,
			1594px 1384px #00b33c, 1030px 1465px #00b33c, 599px 544px #00b33c, 1933px 241px #00b33c,
			1281px 287px #00b33c, 729px 1282px #00b33c, 819px 364px #00b33c, 797px 1590px #00b33c,
			1023px 1973px #00b33c, 1708px 961px #00b33c, 293px 1953px #00b33c, 1685px 1879px #00b33c,
			1285px 1995px #00b33c, 1380px 219px #00b33c, 1715px 1980px #00b33c, 218px 108px #00b33c,
			700px 711px #00b33c, 471px 1764px #00b33c, 10px 1084px #00b33c, 1841px 1778px #00b33c,
			1765px 1548px #00b33c, 712px 1703px #00b33c, 1866px 1805px #00b33c, 1896px 760px #00b33c,
			1391px 40px #00b33c, 761px 1516px #00b33c, 1329px 584px #00b33c, 385px 1141px #00b33c,
			1238px 21px #00b33c, 1070px 486px #00b33c, 1096px 312px #00b33c, 1254px 1674px #00b33c,
			549px 1349px #00b33c, 1618px 986px #00b33c, 707px 1741px #00b33c, 1718px 1514px #00b33c,
			481px 597px #00b33c, 1690px 1472px #00b33c, 1728px 919px #00b33c, 173px 1196px #00b33c,
			1778px 1257px #00b33c, 1207px 649px #00b33c, 447px 634px #00b33c, 1306px 1444px #00b33c,
			936px 1818px #00b33c, 855px 1015px #00b33c, 1421px 332px #00b33c, 1138px 1889px #00b33c,
			1974px 694px #00b33c, 715px 308px #00b33c, 757px 155px #00b33c, 18px 107px #00b33c,
			561px 378px #00b33c, 144px 798px #00b33c, 1184px 967px #00b33c, 1263px 1130px #00b33c,
			1382px 895px #00b33c, 149px 175px #00b33c, 1297px 839px #00b33c, 943px 454px #00b33c,
			178px 1165px #00b33c, 477px 407px #00b33c, 416px 219px #00b33c, 1056px 1491px #00b33c,
			625px 816px #00b33c, 100px 1537px #00b33c, 1074px 520px #00b33c, 1031px 1453px #00b33c,
			1377px 614px #00b33c, 572px 1314px #00b33c, 1513px 1235px #00b33c, 1920px 1211px #00b33c,
			330px 107px #00b33c, 1260px 772px #00b33c, 1198px 84px #00b33c, 1409px 139px #00b33c,
			758px 98px #00b33c, 698px 1771px #00b33c, 273px 275px #00b33c, 163px 200px #00b33c,
			1665px 732px #00b33c, 95px 600px #00b33c, 522px 122px #00b33c, 76px 804px #00b33c,
			1669px 1526px #00b33c, 1881px 465px #00b33c, 1043px 1919px #00b33c, 1521px 827px #00b33c,
			1197px 1997px #00b33c, 489px 593px #00b33c, 1899px 722px #00b33c, 1575px 332px #00b33c,
			327px 718px #00b33c, 1959px 1378px #00b33c, 455px 1333px #00b33c, 729px 822px #00b33c,
			748px 126px #00b33c, 444px 445px #00b33c, 1856px 262px #00b33c, 1140px 921px #00b33c,
			1680px 1227px #00b33c, 1144px 1742px #00b33c, 1922px 384px #00b33c, 1015px 496px #00b33c,
			1213px 831px #00b33c, 1793px 898px #00b33c, 35px 159px #00b33c, 571px 1505px #00b33c,
			726px 42px #00b33c, 1216px 1214px #00b33c, 938px 50px #00b33c, 322px 1017px #00b33c,
			1222px 523px #00b33c, 660px 1174px #00b33c, 355px 859px #00b33c, 1381px 1648px #00b33c,
			8px 1546px #00b33c, 1768px 17px #00b33c, 301px 1159px #00b33c, 1550px 185px #00b33c,
			1289px 656px #00b33c, 1187px 106px #00b33c, 669px 1498px #00b33c, 555px 323px #00b33c,
			454px 288px #00b33c, 72px 271px #00b33c, 445px 1713px #00b33c, 136px 10px #00b33c,
			1810px 1149px #00b33c, 1445px 794px #00b33c, 406px 1822px #00b33c, 1994px 741px #00b33c,
			1837px 1564px #00b33c, 1264px 80px #00b33c, 273px 845px #00b33c, 322px 1693px #00b33c,
			103px 463px #00b33c, 689px 1161px #00b33c, 353px 717px #00b33c, 1275px 1895px #00b33c,
			1331px 130px #00b33c, 1251px 1424px #00b33c, 1003px 1183px #00b33c, 721px 904px #00b33c,
			1261px 416px #00b33c, 600px 577px #00b33c, 384px 910px #00b33c, 1248px 1547px #00b33c,
			955px 734px #00b33c, 686px 891px #00b33c, 196px 1523px #00b33c, 831px 327px #00b33c,
			845px 1486px #00b33c, 1553px 1438px #00b33c, 1133px 1152px #00b33c, 356px 1087px #00b33c,
			1503px 807px #00b33c, 1098px 1396px #00b33c, 94px 1934px #00b33c, 1195px 58px #00b33c,
			748px 771px #00b33c, 940px 570px #00b33c, 574px 651px #00b33c, 835px 533px #00b33c,
			42px 1210px #00b33c, 496px 1791px #00b33c, 1610px 296px #00b33c, 1446px 1574px #00b33c,
			261px 1765px #00b33c, 818px 368px #00b33c, 573px 743px #00b33c, 545px 333px #00b33c,
			1500px 1567px #00b33c, 1789px 448px #00b33c, 1139px 1559px #00b33c, 1607px 1127px #00b33c,
			1980px 874px #00b33c, 731px 1559px #00b33c, 898px 158px #00b33c, 1641px 1053px #00b33c,
			53px 377px #00b33c, 1879px 1370px #00b33c, 1377px 899px #00b33c, 1416px 829px #00b33c,
			863px 1545px #00b33c, 1219px 1935px #00b33c, 1638px 320px #00b33c, 239px 1807px #00b33c,
			851px 464px #00b33c, 1868px 1843px #00b33c, 679px 203px #00b33c, 1762px 842px #00b33c,
			59px 1986px #00b33c, 1142px 1911px #00b33c, 838px 1030px #00b33c, 1370px 1269px #00b33c,
			781px 274px #00b33c, 1193px 551px #00b33c, 638px 478px #00b33c, 456px 1854px #00b33c,
			424px 690px #00b33c, 13px 600px #00b33c, 306px 1867px #00b33c, 384px 1298px #00b33c,
			762px 342px #00b33c, 1780px 1196px #00b33c, 108px 1138px #00b33c, 1671px 866px #00b33c,
			831px 1515px #00b33c, 218px 1455px #00b33c, 1315px 1494px #00b33c, 1365px 1181px #00b33c,
			168px 986px #00b33c, 349px 506px #00b33c, 974px 1437px #00b33c, 1605px 908px #00b33c,
			1036px 1208px #00b33c, 1082px 1407px #00b33c, 916px 827px #00b33c, 1526px 566px #00b33c,
			1159px 1877px #00b33c, 210px 1180px #00b33c, 979px 1815px #00b33c, 130px 1358px #00b33c,
			1961px 1963px #00b33c, 771px 591px #00b33c, 1905px 487px #00b33c, 1816px 1565px #00b33c,
			333px 1600px #00b33c, 1842px 1774px #00b33c, 1573px 135px #00b33c, 1385px 1889px #00b33c,
			1611px 1033px #00b33c, 367px 1236px #00b33c, 779px 1022px #00b33c, 1851px 62px #00b33c,
			478px 257px #00b33c, 1907px 1960px #00b33c, 1435px 532px #00b33c, 662px 8px #00b33c,
			1027px 1924px #00b33c, 489px 101px #00b33c, 76px 1875px #00b33c, 657px 1682px #00b33c,
			1993px 1955px #00b33c, 1432px 1845px #00b33c, 1530px 1729px #00b33c, 1211px 896px #00b33c,
			1525px 133px #00b33c, 1445px 803px #00b33c, 530px 62px #00b33c, 242px 1513px #00b33c,
			256px 933px #00b33c, 1701px 936px #00b33c, 756px 1893px #00b33c, 1251px 1298px #00b33c,
			380px 1399px #00b33c, 1455px 302px #00b33c, 1729px 1171px #00b33c, 585px 49px #00b33c,
			1961px 1124px #00b33c, 1241px 552px #00b33c, 1205px 40px #00b33c, 1938px 1247px #00b33c,
			1469px 89px #00b33c, 239px 1939px #00b33c, 698px 448px #00b33c, 1795px 346px #00b33c,
			151px 487px #00b33c, 102px 126px #00b33c, 1184px 418px #00b33c, 1625px 1418px #00b33c,
			29px 554px #00b33c, 1288px 1274px #00b33c, 791px 1308px #00b33c, 151px 934px #00b33c,
			1574px 386px #00b33c, 1214px 1703px #00b33c, 1569px 1424px #00b33c, 951px 1830px #00b33c,
			1728px 805px #00b33c, 312px 1987px #00b33c, 1468px 529px #00b33c, 1153px 1146px #00b33c,
			1262px 1021px #00b33c, 1648px 1766px #00b33c, 306px 70px #00b33c, 754px 1165px #00b33c,
			1930px 482px #00b33c, 1814px 1593px #00b33c, 1066px 822px #00b33c, 1250px 877px #00b33c,
			465px 1885px #00b33c, 1649px 1281px #00b33c, 1682px 1601px #00b33c, 1367px 1233px #00b33c,
			91px 1327px #00b33c, 1485px 1355px #00b33c, 501px 1673px #00b33c, 1649px 1259px #00b33c,
			1986px 948px #00b33c, 1266px 1829px #00b33c, 135px 1503px #00b33c, 647px 296px #00b33c,
			155px 341px #00b33c, 649px 1896px #00b33c, 1617px 334px #00b33c, 223px 1507px #00b33c,
			584px 146px #00b33c, 200px 316px #00b33c, 575px 1831px #00b33c, 1374px 1809px #00b33c,
			1445px 386px #00b33c, 475px 1249px #00b33c, 1954px 89px #00b33c, 1756px 1192px #00b33c,
			8px 671px #00b33c, 1366px 1694px #00b33c, 1831px 306px #00b33c, 925px 113px #00b33c,
			160px 1174px #00b33c, 534px 1908px #00b33c, 553px 273px #00b33c, 423px 45px #00b33c,
			1305px 1098px #00b33c, 187px 90px #00b33c, 1993px 1396px #00b33c, 842px 1270px #00b33c,
			1137px 554px #00b33c, 351px 558px #00b33c, 1576px 1070px #00b33c, 437px 312px #00b33c,
			286px 1019px #00b33c, 257px 272px #00b33c, 1242px 1957px #00b33c, 1963px 1693px #00b33c,
			772px 447px #00b33c, 1641px 508px #00b33c, 712px 100px #00b33c, 1307px 1015px #00b33c,
			742px 327px #00b33c, 281px 1814px #00b33c, 1398px 1051px #00b33c, 167px 9px #00b33c,
			328px 1489px #00b33c, 1814px 1804px #00b33c, 946px 25px #00b33c, 549px 1705px #00b33c,
			217px 1477px #00b33c, 1937px 280px #00b33c, 182px 241px #00b33c, 711px 1365px #00b33c,
			1898px 1043px #00b33c, 1807px 346px #00b33c, 1787px 1253px #00b33c, 247px 66px #00b33c,
			1171px 1592px #00b33c, 846px 895px #00b33c, 1507px 720px #00b33c, 787px 574px #00b33c,
			1593px 1267px #00b33c, 843px 1902px #00b33c, 15px 1454px #00b33c, 539px 1420px #00b33c,
			1856px 974px #00b33c, 340px 663px #00b33c, 1579px 1091px #00b33c, 809px 111px #00b33c,
			32px 1128px #00b33c, 69px 1852px #00b33c, 878px 300px #00b33c, 730px 726px #00b33c,
			1137px 68px #00b33c;
	}


#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 592px 134px #00b33c, 346px 741px #00b33c, 1000px 1781px #00b33c,
		996px 728px #00b33c, 1085px 1462px #00b33c, 526px 1128px #00b33c, 1951px 557px #00b33c,
		673px 92px #00b33c, 415px 776px #00b33c, 1570px 643px #00b33c, 121px 697px #00b33c,
		782px 1847px #00b33c, 1853px 256px #00b33c, 910px 195px #00b33c, 362px 1201px #00b33c,
		52px 1627px #00b33c, 387px 899px #00b33c, 547px 1995px #00b33c, 1298px 440px #00b33c,
		1474px 1713px #00b33c, 1109px 1322px #00b33c, 1720px 1237px #00b33c, 473px 1196px #00b33c,
		1682px 580px #00b33c, 1476px 655px #00b33c, 1254px 731px #00b33c, 1069px 1840px #00b33c,
		291px 1789px #00b33c, 825px 1237px #00b33c, 1067px 543px #00b33c, 962px 990px #00b33c,
		1606px 1387px #00b33c, 884px 1555px #00b33c, 1209px 1830px #00b33c, 439px 535px #00b33c,
		360px 1451px #00b33c, 1018px 1837px #00b33c, 1964px 677px #00b33c, 1095px 159px #00b33c,
		390px 245px #00b33c, 1869px 597px #00b33c, 1857px 544px #00b33c, 745px 1186px #00b33c,
		336px 1867px #00b33c, 250px 1377px #00b33c, 1872px 168px #00b33c, 878px 1299px #00b33c,
		1257px 177px #00b33c, 984px 303px #00b33c, 544px 303px #00b33c, 1250px 1052px #00b33c,
		152px 1322px #00b33c, 1466px 289px #00b33c, 1104px 1116px #00b33c, 1796px 482px #00b33c,
		1086px 525px #00b33c, 1540px 1822px #00b33c, 196px 1999px #00b33c, 1893px 771px #00b33c,
		1171px 1728px #00b33c, 1996px 710px #00b33c, 436px 370px #00b33c, 1270px 1570px #00b33c,
		55px 900px #00b33c, 1875px 1291px #00b33c, 337px 1251px #00b33c, 25px 5px #00b33c,
		1619px 835px #00b33c, 410px 676px #00b33c, 956px 531px #00b33c, 90px 489px #00b33c,
		561px 576px #00b33c, 907px 45px #00b33c, 1657px 810px #00b33c, 1029px 1705px #00b33c,
		1281px 828px #00b33c, 466px 961px #00b33c, 674px 1105px #00b33c, 456px 918px #00b33c,
		331px 148px #00b33c, 1105px 1681px #00b33c, 922px 319px #00b33c, 1600px 1403px #00b33c,
		420px 977px #00b33c, 166px 1637px #00b33c, 1033px 1668px #00b33c, 1884px 208px #00b33c,
		552px 720px #00b33c, 1543px 119px #00b33c, 587px 103px #00b33c, 348px 1766px #00b33c,
		664px 761px #00b33c, 565px 1253px #00b33c, 1472px 1332px #00b33c, 471px 1569px #00b33c,
		747px 76px #00b33c, 1429px 308px #00b33c, 1850px 597px #00b33c, 1148px 1085px #00b33c,
		307px 208px #00b33c, 253px 736px #00b33c, 148px 122px #00b33c, 366px 1163px #00b33c,
		1589px 1436px #00b33c, 1359px 1027px #00b33c, 1805px 95px #00b33c, 910px 837px #00b33c,
		1578px 976px #00b33c, 954px 710px #00b33c, 743px 1552px #00b33c, 271px 686px #00b33c,
		1960px 1336px #00b33c, 740px 1431px #00b33c, 972px 1184px #00b33c, 1690px 1942px #00b33c,
		1222px 839px #00b33c, 1151px 164px #00b33c, 1248px 871px #00b33c, 893px 1975px #00b33c,
		1979px 859px #00b33c, 139px 642px #00b33c, 856px 523px #00b33c, 879px 1186px #00b33c,
		1440px 1036px #00b33c, 1624px 1411px #00b33c, 1320px 1239px #00b33c, 1747px 1662px #00b33c,
		1155px 765px #00b33c, 885px 43px #00b33c, 552px 1690px #00b33c, 731px 293px #00b33c,
		1655px 1809px #00b33c, 187px 1766px #00b33c, 811px 1318px #00b33c, 716px 241px #00b33c,
		633px 668px #00b33c, 916px 1359px #00b33c, 1054px 620px #00b33c, 1038px 1345px #00b33c,
		1334px 1118px #00b33c, 393px 52px #00b33c, 1722px 590px #00b33c, 1329px 244px #00b33c,
		1388px 1983px #00b33c, 66px 1845px #00b33c, 172px 995px #00b33c, 1258px 1766px #00b33c,
		310px 110px #00b33c, 1019px 1705px #00b33c, 394px 1471px #00b33c, 489px 1962px #00b33c,
		183px 1155px #00b33c, 90px 1153px #00b33c, 845px 60px #00b33c, 403px 1930px #00b33c,
		820px 256px #00b33c, 394px 1716px #00b33c, 1744px 690px #00b33c, 831px 1562px #00b33c,
		110px 1000px #00b33c, 1604px 585px #00b33c, 1954px 1442px #00b33c, 397px 1085px #00b33c,
		242px 1785px #00b33c, 1216px 1885px #00b33c, 1873px 1700px #00b33c, 1181px 8px #00b33c,
		1978px 701px #00b33c, 1968px 391px #00b33c, 1621px 947px #00b33c, 1142px 1244px #00b33c,
		558px 584px #00b33c, 881px 767px #00b33c, 96px 960px #00b33c, 1143px 262px #00b33c,
		690px 1357px #00b33c, 218px 1363px #00b33c, 1507px 16px #00b33c, 1947px 1785px #00b33c,
		755px 1928px #00b33c, 1620px 1126px #00b33c, 1194px 1932px #00b33c, 728px 1068px #00b33c,
		542px 1765px #00b33c, 1159px 1334px #00b33c, 1284px 444px #00b33c, 1623px 1161px #00b33c,
		190px 1011px #00b33c, 855px 1379px #00b33c, 1244px 30px #00b33c, 1144px 1873px #00b33c,
		1276px 958px #00b33c, 1675px 1097px #00b33c, 354px 1735px #00b33c, 1534px 235px #00b33c,
		560px 1850px #00b33c, 493px 1737px #00b33c, 782px 598px #00b33c, 1709px 1377px #00b33c,
		717px 1040px #00b33c;
	animation: animStar 100s linear infinite; }
	#stars:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: 592px 134px #00b33c, 346px 741px #00b33c, 1000px 1781px #00b33c,
			996px 728px #00b33c, 1085px 1462px #00b33c, 526px 1128px #00b33c, 1951px 557px #00b33c,
			673px 92px #00b33c, 415px 776px #00b33c, 1570px 643px #00b33c, 121px 697px #00b33c,
			782px 1847px #00b33c, 1853px 256px #00b33c, 910px 195px #00b33c, 362px 1201px #00b33c,
			52px 1627px #00b33c, 387px 899px #00b33c, 547px 1995px #00b33c, 1298px 440px #00b33c,
			1474px 1713px #00b33c, 1109px 1322px #00b33c, 1720px 1237px #00b33c, 473px 1196px #00b33c,
			1682px 580px #00b33c, 1476px 655px #00b33c, 1254px 731px #00b33c, 1069px 1840px #00b33c,
			291px 1789px #00b33c, 825px 1237px #00b33c, 1067px 543px #00b33c, 962px 990px #00b33c,
			1606px 1387px #00b33c, 884px 1555px #00b33c, 1209px 1830px #00b33c, 439px 535px #00b33c,
			360px 1451px #00b33c, 1018px 1837px #00b33c, 1964px 677px #00b33c, 1095px 159px #00b33c,
			390px 245px #00b33c, 1869px 597px #00b33c, 1857px 544px #00b33c, 745px 1186px #00b33c,
			336px 1867px #00b33c, 250px 1377px #00b33c, 1872px 168px #00b33c, 878px 1299px #00b33c,
			1257px 177px #00b33c, 984px 303px #00b33c, 544px 303px #00b33c, 1250px 1052px #00b33c,
			152px 1322px #00b33c, 1466px 289px #00b33c, 1104px 1116px #00b33c, 1796px 482px #00b33c,
			1086px 525px #00b33c, 1540px 1822px #00b33c, 196px 1999px #00b33c, 1893px 771px #00b33c,
			1171px 1728px #00b33c, 1996px 710px #00b33c, 436px 370px #00b33c, 1270px 1570px #00b33c,
			55px 900px #00b33c, 1875px 1291px #00b33c, 337px 1251px #00b33c, 25px 5px #00b33c,
			1619px 835px #00b33c, 410px 676px #00b33c, 956px 531px #00b33c, 90px 489px #00b33c,
			561px 576px #00b33c, 907px 45px #00b33c, 1657px 810px #00b33c, 1029px 1705px #00b33c,
			1281px 828px #00b33c, 466px 961px #00b33c, 674px 1105px #00b33c, 456px 918px #00b33c,
			331px 148px #00b33c, 1105px 1681px #00b33c, 922px 319px #00b33c, 1600px 1403px #00b33c,
			420px 977px #00b33c, 166px 1637px #00b33c, 1033px 1668px #00b33c, 1884px 208px #00b33c,
			552px 720px #00b33c, 1543px 119px #00b33c, 587px 103px #00b33c, 348px 1766px #00b33c,
			664px 761px #00b33c, 565px 1253px #00b33c, 1472px 1332px #00b33c, 471px 1569px #00b33c,
			747px 76px #00b33c, 1429px 308px #00b33c, 1850px 597px #00b33c, 1148px 1085px #00b33c,
			307px 208px #00b33c, 253px 736px #00b33c, 148px 122px #00b33c, 366px 1163px #00b33c,
			1589px 1436px #00b33c, 1359px 1027px #00b33c, 1805px 95px #00b33c, 910px 837px #00b33c,
			1578px 976px #00b33c, 954px 710px #00b33c, 743px 1552px #00b33c, 271px 686px #00b33c,
			1960px 1336px #00b33c, 740px 1431px #00b33c, 972px 1184px #00b33c, 1690px 1942px #00b33c,
			1222px 839px #00b33c, 1151px 164px #00b33c, 1248px 871px #00b33c, 893px 1975px #00b33c,
			1979px 859px #00b33c, 139px 642px #00b33c, 856px 523px #00b33c, 879px 1186px #00b33c,
			1440px 1036px #00b33c, 1624px 1411px #00b33c, 1320px 1239px #00b33c,
			1747px 1662px #00b33c, 1155px 765px #00b33c, 885px 43px #00b33c, 552px 1690px #00b33c,
			731px 293px #00b33c, 1655px 1809px #00b33c, 187px 1766px #00b33c, 811px 1318px #00b33c,
			716px 241px #00b33c, 633px 668px #00b33c, 916px 1359px #00b33c, 1054px 620px #00b33c,
			1038px 1345px #00b33c, 1334px 1118px #00b33c, 393px 52px #00b33c, 1722px 590px #00b33c,
			1329px 244px #00b33c, 1388px 1983px #00b33c, 66px 1845px #00b33c, 172px 995px #00b33c,
			1258px 1766px #00b33c, 310px 110px #00b33c, 1019px 1705px #00b33c, 394px 1471px #00b33c,
			489px 1962px #00b33c, 183px 1155px #00b33c, 90px 1153px #00b33c, 845px 60px #00b33c,
			403px 1930px #00b33c, 820px 256px #00b33c, 394px 1716px #00b33c, 1744px 690px #00b33c,
			831px 1562px #00b33c, 110px 1000px #00b33c, 1604px 585px #00b33c, 1954px 1442px #00b33c,
			397px 1085px #00b33c, 242px 1785px #00b33c, 1216px 1885px #00b33c, 1873px 1700px #00b33c,
			1181px 8px #00b33c, 1978px 701px #00b33c, 1968px 391px #00b33c, 1621px 947px #00b33c,
			1142px 1244px #00b33c, 558px 584px #00b33c, 881px 767px #00b33c, 96px 960px #00b33c,
			1143px 262px #00b33c, 690px 1357px #00b33c, 218px 1363px #00b33c, 1507px 16px #00b33c,
			1947px 1785px #00b33c, 755px 1928px #00b33c, 1620px 1126px #00b33c, 1194px 1932px #00b33c,
			728px 1068px #00b33c, 542px 1765px #00b33c, 1159px 1334px #00b33c, 1284px 444px #00b33c,
			1623px 1161px #00b33c, 190px 1011px #00b33c, 855px 1379px #00b33c, 1244px 30px #00b33c,
			1144px 1873px #00b33c, 1276px 958px #00b33c, 1675px 1097px #00b33c, 354px 1735px #00b33c,
			1534px 235px #00b33c, 560px 1850px #00b33c, 493px 1737px #00b33c, 782px 598px #00b33c,
			1709px 1377px #00b33c, 717px 1040px #00b33c;
	}


#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 222px 946px #00b33c, 408px 926px #00b33c, 1608px 1741px #00b33c,
		1977px 1436px #00b33c, 713px 1152px #00b33c, 139px 39px #00b33c, 497px 1590px #00b33c,
		1808px 1652px #00b33c, 598px 667px #00b33c, 1962px 75px #00b33c, 331px 1245px #00b33c,
		1600px 1822px #00b33c, 1463px 883px #00b33c, 299px 335px #00b33c, 1229px 909px #00b33c,
		448px 581px #00b33c, 1346px 571px #00b33c, 1247px 458px #00b33c, 799px 186px #00b33c,
		643px 404px #00b33c, 1330px 790px #00b33c, 299px 699px #00b33c, 1593px 1891px #00b33c,
		934px 1230px #00b33c, 1162px 1835px #00b33c, 903px 1024px #00b33c, 596px 900px #00b33c,
		1223px 1078px #00b33c, 682px 1024px #00b33c, 151px 373px #00b33c, 54px 1586px #00b33c,
		657px 1902px #00b33c, 812px 273px #00b33c, 705px 1142px #00b33c, 1902px 1353px #00b33c,
		1222px 1980px #00b33c, 767px 158px #00b33c, 22px 663px #00b33c, 1055px 727px #00b33c,
		1728px 750px #00b33c, 223px 287px #00b33c, 438px 127px #00b33c, 224px 1146px #00b33c,
		1594px 1466px #00b33c, 1505px 436px #00b33c, 389px 1049px #00b33c, 596px 435px #00b33c,
		1997px 1798px #00b33c, 29px 51px #00b33c, 40px 514px #00b33c, 1779px 769px #00b33c,
		652px 1211px #00b33c, 1599px 347px #00b33c, 1854px 1941px #00b33c, 485px 1633px #00b33c,
		697px 1894px #00b33c, 1772px 877px #00b33c, 555px 1030px #00b33c, 976px 1338px #00b33c,
		541px 1112px #00b33c, 817px 899px #00b33c, 961px 923px #00b33c, 115px 1321px #00b33c,
		875px 434px #00b33c, 1577px 1980px #00b33c, 1160px 131px #00b33c, 15px 160px #00b33c,
		979px 56px #00b33c, 959px 1756px #00b33c, 1358px 435px #00b33c, 563px 591px #00b33c,
		1284px 475px #00b33c, 341px 601px #00b33c, 74px 471px #00b33c, 416px 584px #00b33c,
		692px 536px #00b33c, 1041px 377px #00b33c, 1601px 1923px #00b33c, 1014px 241px #00b33c,
		122px 1594px #00b33c, 1510px 280px #00b33c, 195px 1720px #00b33c, 152px 104px #00b33c,
		1686px 811px #00b33c, 1329px 750px #00b33c, 1655px 441px #00b33c, 1288px 1040px #00b33c,
		1802px 1368px #00b33c, 767px 615px #00b33c, 302px 195px #00b33c, 1973px 1902px #00b33c,
		1088px 1583px #00b33c, 1840px 1126px #00b33c, 500px 111px #00b33c, 1263px 667px #00b33c,
		1748px 121px #00b33c, 1608px 364px #00b33c, 1064px 1610px #00b33c, 1682px 1826px #00b33c,
		1747px 1800px #00b33c;
	animation: animStar 150s linear infinite; }
	#stars:after {
		content: "";
		position: absolute;
		top: 2000px;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: 222px 946px #00b33c, 408px 926px #00b33c, 1608px 1741px #00b33c,
			1977px 1436px #00b33c, 713px 1152px #00b33c, 139px 39px #00b33c, 497px 1590px #00b33c,
			1808px 1652px #00b33c, 598px 667px #00b33c, 1962px 75px #00b33c, 331px 1245px #00b33c,
			1600px 1822px #00b33c, 1463px 883px #00b33c, 299px 335px #00b33c, 1229px 909px #00b33c,
			448px 581px #00b33c, 1346px 571px #00b33c, 1247px 458px #00b33c, 799px 186px #00b33c,
			643px 404px #00b33c, 1330px 790px #00b33c, 299px 699px #00b33c, 1593px 1891px #00b33c,
			934px 1230px #00b33c, 1162px 1835px #00b33c, 903px 1024px #00b33c, 596px 900px #00b33c,
			1223px 1078px #00b33c, 682px 1024px #00b33c, 151px 373px #00b33c, 54px 1586px #00b33c,
			657px 1902px #00b33c, 812px 273px #00b33c, 705px 1142px #00b33c, 1902px 1353px #00b33c,
			1222px 1980px #00b33c, 767px 158px #00b33c, 22px 663px #00b33c, 1055px 727px #00b33c,
			1728px 750px #00b33c, 223px 287px #00b33c, 438px 127px #00b33c, 224px 1146px #00b33c,
			1594px 1466px #00b33c, 1505px 436px #00b33c, 389px 1049px #00b33c, 596px 435px #00b33c,
			1997px 1798px #00b33c, 29px 51px #00b33c, 40px 514px #00b33c, 1779px 769px #00b33c,
			652px 1211px #00b33c, 1599px 347px #00b33c, 1854px 1941px #00b33c, 485px 1633px #00b33c,
			697px 1894px #00b33c, 1772px 877px #00b33c, 555px 1030px #00b33c, 976px 1338px #00b33c,
			541px 1112px #00b33c, 817px 899px #00b33c, 961px 923px #00b33c, 115px 1321px #00b33c,
			875px 434px #00b33c, 1577px 1980px #00b33c, 1160px 131px #00b33c, 15px 160px #00b33c,
			979px 56px #00b33c, 959px 1756px #00b33c, 1358px 435px #00b33c, 563px 591px #00b33c,
			1284px 475px #00b33c, 341px 601px #00b33c, 74px 471px #00b33c, 416px 584px #00b33c,
			692px 536px #00b33c, 1041px 377px #00b33c, 1601px 1923px #00b33c, 1014px 241px #00b33c,
			122px 1594px #00b33c, 1510px 280px #00b33c, 195px 1720px #00b33c, 152px 104px #00b33c,
			1686px 811px #00b33c, 1329px 750px #00b33c, 1655px 441px #00b33c, 1288px 1040px #00b33c,
			1802px 1368px #00b33c, 767px 615px #00b33c, 302px 195px #00b33c, 1973px 1902px #00b33c,
			1088px 1583px #00b33c, 1840px 1126px #00b33c, 500px 111px #00b33c, 1263px 667px #00b33c,
			1748px 121px #00b33c, 1608px 364px #00b33c, 1064px 1610px #00b33c, 1682px 1826px #00b33c,
			1747px 1800px #00b33c;

}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}
