[data-theme="light"]{
    --text-color: black;
    --background-color: white;
}
  
[data-theme="dark"]{
    --text-color: #fcfcfc;
    --background-color: #1d1c1cb7;
}

/* .app{
    color: var(--text-color);
    background-color: var(--background-color);
} */