@import url('https://fonts.googleapis.com/css2?family=Alef&family=Open+Sans+Condensed:wght@300&family=Oxygen+Mono&display=swap');

* {
  margin: 0;
}



html::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}